In [60]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 10000)

from IPython.display import display

In [7]:
df = pd.read_csv("AnalysisAhead.csv")
df

       debtAmountMax     firstSuccessDate  listingId  normalNum  overdueDayMap overdueDayMap_0_month  overdueDayMap_0_value overdueDayMap_1_month  overdueDayMap_1_value overdueDayMap_2_month  overdueDayMap_2_value overdueDayMap_3_month  overdueDayMap_3_value overdueDayMap_4_month  overdueDayMap_4_value overdueDayMap_5_month  overdueDayMap_5_value  overdueLessNum  overdueMoreNum  owingAmount  owingPrincipal previous_listing_0_date  previous_listing_0_status previous_listing_1_date  previous_listing_1_status previous_listing_2_date  previous_listing_2_status previous_listing_3_date  previous_listing_3_status previous_listing_4_date  previous_listing_4_status previous_listing_5_date  previous_listing_5_status previous_listing_6_date  previous_listing_6_status previous_listing_7_date  previous_listing_7_status previous_listing_8_date  previous_listing_8_status previous_listing_9_date  previous_listing_9_status  successNum  totalPrincipal
0           16667.18  2016-07-03 14:27:35  129717971         19            NaN               2018/03                   -8.0               2018/04                   -1.0               2018/05                   -5.0               2018/06                  -17.0               2018/07                   -9.0               2018/08                   -3.0               3               0         0.00            0.00     2018-06-01 18:18:01                         12     2017-12-29 17:15:31                       12.0     2016-07-03 14:27:35                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           3         19769.0
1            5591.47  2017-09-24 18:44:44  129720868         40            NaN               2018/03                    2.0               2018/04                    0.0               2018/05                    3.0               2018/06                    4.0               2018/07                    4.0               2018/08                    4.0              10               0      2379.42         2100.00     2018-09-26 16:33:44                          4     2018-09-21 15:28:18                        4.0     2018-09-18 19:56:41                        4.0     2018-07-05 08:25:21                       12.0     2018-06-14 12:28:46                       12.0     2018-05-17 07:12:28                       12.0     2018-05-02 18:01:05                       12.0     2018-03-08 11:39:29                       12.0     2018-03-08 11:16:17                       12.0     2018-02-04 23:24:57                       12.0          14         12576.0
2           13453.18  2016-12-07 12:51:54  129721512         75            NaN               2018/03                    0.0               2018/04                    0.0               2018/05                    1.0               2018/06                    0.0               2018/07                    0.0               2018/08                    0.0              13               0         0.00            0.00     2018-07-26 15:22:11                         12     2018-06-24 07:48:54                       12.0     2018-05-21 15:59:14                       12.0     2018-05-10 15:23:59                       12.0     2018-03-19 21:25:08                       12.0     2018-02-12 11:48:27                       12.0     2017-12-09 10:33:38                       12.0     2017-10-20 12:29:34                       12.0     2017-10-02 21:50:02                       12.0     2017-09-20 02:26:47                       12.0          14         37996.0
3           12707.28  2018-03-09 21:31:56  129722388          6            NaN               2018/03                    0.0               2018/04                    0.0               2018/05                    0.0               2018/06                    0.0               2018/07                  -16.0               2018/08                  -47.0               0               0         0.00            0.00     2018-05-16 13:23:54                         12     2018-03-09 21:31:56                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           2         14504.0
4            4988.57  2017-05-23 10:04:08  129722481         36            NaN               2018/03                   -2.0               2018/04                  -30.0               2018/05                   -3.0               2018/06                   -2.0               2018/07                   -6.0               2018/08                   -6.0               0               0         0.00            0.00     2018-06-21 17:53:27                         12     2018-04-19 23:11:03                       12.0     2018-01-03 10:24:53                       12.0     2017-09-01 16:06:07                       12.0     2017-07-26 10:34:55                       12.0     2017-05-23 10:04:08                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           6          8690.0
...              ...                  ...        ...        ...            ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...             ...             ...          ...             ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...         ...             ...
40622       30101.54  2015-07-31 16:31:40  133864629         42            NaN               2018/04                   -5.0               2018/05                    0.0               2018/06                   -1.0               2018/07                    2.0               2018/08                    2.0               2018/09                    0.0               3               0     14495.97        13676.84     2018-07-22 13:54:19                          4     2018-06-24 06:55:51                       12.0     2018-06-18 14:14:29                       12.0     2018-06-16 07:47:06                        4.0     2018-05-27 07:45:33                        4.0     2018-05-21 07:37:47                        4.0     2018-04-08 10:36:38                        4.0     2018-03-20 18:43:36                       12.0     2018-03-07 19:34:50                       12.0     2015-09-01 13:31:45                       12.0          11         37660.0
40623       20047.26  2016-07-05 10:25:36  133864653         47            NaN               2018/04                   -6.0               2018/05                  -30.0               2018/06                   -6.0               2018/07                   -2.0               2018/08                    1.0               2018/09                  -25.0               3               0         0.00            0.00     2018-10-20 19:17:13                         12     2018-08-21 12:51:54                       12.0     2018-05-19 09:31:51                       12.0     2018-04-29 08:47:23                       12.0     2017-12-08 15:50:30                       12.0     2017-12-06 08:16:44                       12.0     2017-05-22 22:53:32                       12.0     2017-02-13 11:36:53                       12.0     2016-11-06 16:14:14                       12.0     2016-07-05 10:25:36                       12.0          10         50792.0
40624       28704.19  2017-01-21 11:05:45  133864688         42            NaN               2018/04                   -1.0               2018/05                   -1.0               2018/06                    1.0               2018/07                    0.0               2018/08                    0.0               2018/09                    0.0               2               0     23292.75        21589.53     2018-09-02 16:16:13                          4     2018-07-01 18:19:00                        4.0     2018-06-15 16:41:51                        4.0     2017-11-01 16:02:21                       12.0     2017-10-11 15:41:13                       12.0     2017-08-01 14:45:48                       12.0     2017-06-02 10:40:35                       12.0     2017-01-21 11:05:45                       12.0                     NaN                        NaN                     NaN                        NaN           8         59573.0
40625        2506.86  2018-09-25 19:35:16  133864690          2            NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN               0               0       544.59          500.00     2018-10-17 16:45:33                          4     2018-10-15 17:55:20                       12.0     2018-09-25 19:35:16                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           3          3800.0
40626        9430.85  2018-01-25 15:06:26  133864693         11            NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN               0               0      1872.33         1791.12     2018-06-25 14:01:18                         12     2018-01-25 15:06:26                        4.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           2         10699.0

[40627 rows x 43 columns]

In [9]:
df["previous_listing_0_status"].value_counts()

4     35113
12     5514
Name: previous_listing_0_status, dtype: int64

In [10]:
df["previous_listing_1_status"].value_counts()

4.0     26623
12.0     9342
Name: previous_listing_1_status, dtype: int64

In [12]:
df["owingAmount"].value_counts()

0.00        5799
1089.24       44
1573.24       39
2359.92       33
363.30        30
            ...
7881.88        1
10629.50       1
1723.08        1
4093.80        1
18489.96       1
Name: owingAmount, Length: 30962, dtype: int64

In [14]:
df[(df["previous_listing_0_status"] == 12) & (df["owingAmount"] == 0)]

       debtAmountMax     firstSuccessDate  listingId  normalNum  overdueDayMap overdueDayMap_0_month  overdueDayMap_0_value overdueDayMap_1_month  overdueDayMap_1_value overdueDayMap_2_month  overdueDayMap_2_value overdueDayMap_3_month  overdueDayMap_3_value overdueDayMap_4_month  overdueDayMap_4_value overdueDayMap_5_month  overdueDayMap_5_value  overdueLessNum  overdueMoreNum  owingAmount  owingPrincipal previous_listing_0_date  previous_listing_0_status previous_listing_1_date  previous_listing_1_status previous_listing_2_date  previous_listing_2_status previous_listing_3_date  previous_listing_3_status previous_listing_4_date  previous_listing_4_status previous_listing_5_date  previous_listing_5_status previous_listing_6_date  previous_listing_6_status previous_listing_7_date  previous_listing_7_status previous_listing_8_date  previous_listing_8_status previous_listing_9_date  previous_listing_9_status  successNum  totalPrincipal
0           16667.18  2016-07-03 14:27:35  129717971         19            NaN               2018/03                   -8.0               2018/04                   -1.0               2018/05                   -5.0               2018/06                  -17.0               2018/07                   -9.0               2018/08                   -3.0               3               0          0.0             0.0     2018-06-01 18:18:01                         12     2017-12-29 17:15:31                       12.0     2016-07-03 14:27:35                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           3         19769.0
2           13453.18  2016-12-07 12:51:54  129721512         75            NaN               2018/03                    0.0               2018/04                    0.0               2018/05                    1.0               2018/06                    0.0               2018/07                    0.0               2018/08                    0.0              13               0          0.0             0.0     2018-07-26 15:22:11                         12     2018-06-24 07:48:54                       12.0     2018-05-21 15:59:14                       12.0     2018-05-10 15:23:59                       12.0     2018-03-19 21:25:08                       12.0     2018-02-12 11:48:27                       12.0     2017-12-09 10:33:38                       12.0     2017-10-20 12:29:34                       12.0     2017-10-02 21:50:02                       12.0     2017-09-20 02:26:47                       12.0          14         37996.0
3           12707.28  2018-03-09 21:31:56  129722388          6            NaN               2018/03                    0.0               2018/04                    0.0               2018/05                    0.0               2018/06                    0.0               2018/07                  -16.0               2018/08                  -47.0               0               0          0.0             0.0     2018-05-16 13:23:54                         12     2018-03-09 21:31:56                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           2         14504.0
4            4988.57  2017-05-23 10:04:08  129722481         36            NaN               2018/03                   -2.0               2018/04                  -30.0               2018/05                   -3.0               2018/06                   -2.0               2018/07                   -6.0               2018/08                   -6.0               0               0          0.0             0.0     2018-06-21 17:53:27                         12     2018-04-19 23:11:03                       12.0     2018-01-03 10:24:53                       12.0     2017-09-01 16:06:07                       12.0     2017-07-26 10:34:55                       12.0     2017-05-23 10:04:08                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           6          8690.0
5           10644.26  2017-03-06 15:36:12  129722562        100            NaN               2018/03                  -62.0               2018/04                  -31.0               2018/05                  -61.0               2018/06                  -92.0               2018/07                  -10.0               2018/08                    0.0               0               0          0.0             0.0     2018-08-09 15:16:14                         12     2018-07-04 08:45:44                       12.0     2018-06-07 15:01:23                       12.0     2018-03-09 09:16:41                       12.0     2017-11-19 03:04:15                       12.0     2017-07-29 19:17:49                       12.0     2017-07-22 15:56:04                       12.0     2017-07-14 15:57:11                       12.0     2017-07-04 13:42:09                       12.0     2017-07-01 09:59:59                       12.0          22         47981.0
...              ...                  ...        ...        ...            ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...             ...             ...          ...             ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...         ...             ...
40594        6411.60  2018-07-02 15:42:19  133861916          5            NaN               2018/04                    0.0               2018/05                    0.0               2018/06                    0.0               2018/07                    0.0               2018/08                   -8.0               2018/09                    0.0               0               0          0.0             0.0     2018-10-11 12:33:14                         12     2018-07-02 15:42:19                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           2          7331.0
40596        3539.76  2018-05-14 13:24:41  133861948          3            NaN               2018/04                    0.0               2018/05                    0.0               2018/06                   -1.0               2018/07                   -1.0               2018/08                   -3.0               2018/09                  -34.0               0               0          0.0             0.0     2018-05-14 13:24:41                         12                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           1          3000.0
40612        2470.44  2017-04-20 14:40:22  133863039         17            NaN               2018/04                    0.0               2018/05                  -23.0               2018/06                  -54.0               2018/07                  -84.0               2018/08                 -115.0               2018/09                 -146.0               0               0          0.0             0.0     2018-04-09 17:32:29                         12     2017-12-26 11:57:20                       12.0     2017-09-18 23:20:21                       12.0     2017-07-07 18:06:47                       12.0     2017-04-20 14:40:22                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           5          6117.0
40620        5558.04  2017-06-15 14:55:35  133864576         14            NaN               2018/04                    0.0               2018/05                    0.0               2018/06                    0.0               2018/07                   -2.0               2018/08                  -33.0               2018/09                  -64.0               1               0          0.0             0.0     2018-05-30 11:27:40                         12     2017-11-12 13:35:47                       12.0     2017-08-31 21:36:13                       12.0     2017-06-15 14:55:35                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           4         11216.0
40623       20047.26  2016-07-05 10:25:36  133864653         47            NaN               2018/04                   -6.0               2018/05                  -30.0               2018/06                   -6.0               2018/07                   -2.0               2018/08                    1.0               2018/09                  -25.0               3               0          0.0             0.0     2018-10-20 19:17:13                         12     2018-08-21 12:51:54                       12.0     2018-05-19 09:31:51                       12.0     2018-04-29 08:47:23                       12.0     2017-12-08 15:50:30                       12.0     2017-12-06 08:16:44                       12.0     2017-05-22 22:53:32                       12.0     2017-02-13 11:36:53                       12.0     2016-11-06 16:14:14                       12.0     2016-07-05 10:25:36                       12.0          10         50792.0

[4097 rows x 43 columns]

In [45]:
df[(df["previous_listing_0_status"] == 12) & (df["previous_listing_1_status"] == 12) & (df["owingAmount"] == 0) & (df["previous_listing_0_date"] > "2018-08-08 00:00:00") & ((df["previous_listing_1_date"] > "2018-07-08 00:00:00"))]

       debtAmountMax     firstSuccessDate  listingId  normalNum  overdueDayMap overdueDayMap_0_month  overdueDayMap_0_value overdueDayMap_1_month  overdueDayMap_1_value overdueDayMap_2_month  overdueDayMap_2_value overdueDayMap_3_month  overdueDayMap_3_value overdueDayMap_4_month  overdueDayMap_4_value overdueDayMap_5_month  overdueDayMap_5_value  overdueLessNum  overdueMoreNum  owingAmount  owingPrincipal previous_listing_0_date  previous_listing_0_status previous_listing_1_date  previous_listing_1_status previous_listing_2_date  previous_listing_2_status previous_listing_3_date  previous_listing_3_status previous_listing_4_date  previous_listing_4_status previous_listing_5_date  previous_listing_5_status previous_listing_6_date  previous_listing_6_status previous_listing_7_date  previous_listing_7_status previous_listing_8_date  previous_listing_8_status previous_listing_9_date  previous_listing_9_status  successNum  totalPrincipal
65          17516.76  2018-04-05 23:21:28  129730305         11            NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN               0               0          0.0             0.0     2018-09-11 15:24:11                         12     2018-07-08 07:27:06                       12.0     2018-06-21 07:47:15                       12.0     2018-04-05 23:21:28                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           4         33602.0
94           7478.34  2017-12-26 15:23:52  129733203         16            NaN               2018/03                  -37.0               2018/04                  -58.0               2018/05                  -39.0               2018/06                  -57.0               2018/07                  -87.0               2018/08                  -28.0               0               0          0.0             0.0     2018-09-16 21:39:56                         12     2018-09-16 12:27:54                       12.0     2018-07-25 10:26:17                       12.0     2018-07-25 05:37:39                       12.0     2017-12-26 15:23:52                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           5         22000.0
150          5545.65  2017-08-30 12:16:01  129753873         14            NaN               2018/03                 -120.0               2018/04                 -151.0               2018/05                    0.0               2018/06                    0.0               2018/07                    0.0               2018/08                    0.0               0               0          0.0             0.0     2018-09-19 18:05:59                         12     2018-08-20 22:47:07                       12.0     2018-08-14 23:36:34                       12.0     2017-11-11 11:07:06                       12.0     2017-08-30 12:16:01                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           5         19000.0
190         14158.32  2018-07-31 17:06:42  129756946          6            NaN               2018/03                    0.0               2018/04                    0.0               2018/05                    0.0               2018/06                    0.0               2018/07                    0.0               2018/08                  -31.0               0               0          0.0             0.0     2018-09-19 12:39:35                         12     2018-08-08 02:43:08                       12.0     2018-07-31 17:06:42                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           3         36000.0
312          4129.20  2017-06-09 19:51:15  129769128         40            NaN               2018/03                   -3.0               2018/04                  -10.0               2018/05                  -12.0               2018/06                  -41.0               2018/07                  -17.0               2018/08                  -15.0               0               0          0.0             0.0     2018-08-14 12:15:04                         12     2018-07-19 10:17:57                       12.0     2018-02-04 09:38:16                       12.0     2018-02-02 14:05:49                       12.0     2018-02-02 13:21:54                       12.0     2017-06-09 19:51:15                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           6          9540.0
...              ...                  ...        ...        ...            ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...             ...             ...          ...             ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...         ...             ...
40418       11542.80  2017-04-26 00:05:57  133847651         84            NaN               2018/04                    0.0               2018/05                    0.0               2018/06                   -1.0               2018/07                  -14.0               2018/08                   -5.0               2018/09                  -36.0               1               0          0.0             0.0     2018-10-04 06:39:56                         12     2018-09-10 21:22:12                       12.0     2018-07-25 09:54:04                       12.0     2018-06-28 14:45:08                       12.0     2018-05-30 09:36:42                       12.0     2018-04-27 23:45:54                       12.0     2018-03-26 10:26:09                       12.0     2018-02-25 22:23:01                       12.0     2018-01-26 07:05:09                       12.0     2017-11-26 14:16:27                       12.0          17         71967.0
40508       12507.44  2017-08-27 23:14:02  133855660        153            NaN               2018/04                   -2.0               2018/05                  -10.0               2018/06                   -9.0               2018/07                  -21.0               2018/08                  -18.0               2018/09                  -18.0               0               0          0.0             0.0     2018-09-26 11:01:15                         12     2018-09-20 07:18:37                       12.0     2018-09-14 18:16:21                       12.0     2018-09-06 15:07:45                       12.0     2018-09-02 13:20:28                       12.0     2018-08-21 14:20:22                       12.0     2018-08-10 16:41:19                       12.0     2018-08-04 20:05:23                       12.0     2018-07-29 10:50:43                       12.0     2018-07-24 15:34:26                       12.0          35         46023.0
40526       29328.30  2016-07-20 17:56:46  133858278         27            NaN               2018/04                    0.0               2018/05                    0.0               2018/06                   -1.0               2018/07                    0.0               2018/08                    0.0               2018/09                   -1.0               0               0          0.0             0.0     2018-08-23 20:32:32                         12     2018-07-22 10:35:29                       12.0     2018-05-10 07:57:16                       12.0     2016-11-10 10:25:23                       12.0     2016-07-20 17:56:46                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           5         44932.0
40567        2179.86  2018-10-24 12:36:51  133860004          5            NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN               0               0          0.0             0.0     2018-10-27 16:56:10                         12     2018-10-24 12:36:51                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           2          6328.0
40623       20047.26  2016-07-05 10:25:36  133864653         47            NaN               2018/04                   -6.0               2018/05                  -30.0               2018/06                   -6.0               2018/07                   -2.0               2018/08                    1.0               2018/09                  -25.0               3               0          0.0             0.0     2018-10-20 19:17:13                         12     2018-08-21 12:51:54                       12.0     2018-05-19 09:31:51                       12.0     2018-04-29 08:47:23                       12.0     2017-12-08 15:50:30                       12.0     2017-12-06 08:16:44                       12.0     2017-05-22 22:53:32                       12.0     2017-02-13 11:36:53                       12.0     2016-11-06 16:14:14                       12.0     2016-07-05 10:25:36                       12.0          10         50792.0

[679 rows x 43 columns]

In [27]:
df[df["previous_listing_0_date"] > "2018-08-08 00:00:00"]["previous_listing_0_date"].describe()

count                   29054
unique                  28807
top       2018-10-01 09:52:24
freq                        4
Name: previous_listing_0_date, dtype: object

In [29]:
df

       debtAmountMax     firstSuccessDate  listingId  normalNum  overdueDayMap overdueDayMap_0_month  overdueDayMap_0_value overdueDayMap_1_month  overdueDayMap_1_value overdueDayMap_2_month  overdueDayMap_2_value overdueDayMap_3_month  overdueDayMap_3_value overdueDayMap_4_month  overdueDayMap_4_value overdueDayMap_5_month  overdueDayMap_5_value  overdueLessNum  overdueMoreNum  owingAmount  owingPrincipal previous_listing_0_date  previous_listing_0_status previous_listing_1_date  previous_listing_1_status previous_listing_2_date  previous_listing_2_status previous_listing_3_date  previous_listing_3_status previous_listing_4_date  previous_listing_4_status previous_listing_5_date  previous_listing_5_status previous_listing_6_date  previous_listing_6_status previous_listing_7_date  previous_listing_7_status previous_listing_8_date  previous_listing_8_status previous_listing_9_date  previous_listing_9_status  successNum  totalPrincipal
0           16667.18  2016-07-03 14:27:35  129717971         19            NaN               2018/03                   -8.0               2018/04                   -1.0               2018/05                   -5.0               2018/06                  -17.0               2018/07                   -9.0               2018/08                   -3.0               3               0         0.00            0.00     2018-06-01 18:18:01                         12     2017-12-29 17:15:31                       12.0     2016-07-03 14:27:35                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           3         19769.0
1            5591.47  2017-09-24 18:44:44  129720868         40            NaN               2018/03                    2.0               2018/04                    0.0               2018/05                    3.0               2018/06                    4.0               2018/07                    4.0               2018/08                    4.0              10               0      2379.42         2100.00     2018-09-26 16:33:44                          4     2018-09-21 15:28:18                        4.0     2018-09-18 19:56:41                        4.0     2018-07-05 08:25:21                       12.0     2018-06-14 12:28:46                       12.0     2018-05-17 07:12:28                       12.0     2018-05-02 18:01:05                       12.0     2018-03-08 11:39:29                       12.0     2018-03-08 11:16:17                       12.0     2018-02-04 23:24:57                       12.0          14         12576.0
2           13453.18  2016-12-07 12:51:54  129721512         75            NaN               2018/03                    0.0               2018/04                    0.0               2018/05                    1.0               2018/06                    0.0               2018/07                    0.0               2018/08                    0.0              13               0         0.00            0.00     2018-07-26 15:22:11                         12     2018-06-24 07:48:54                       12.0     2018-05-21 15:59:14                       12.0     2018-05-10 15:23:59                       12.0     2018-03-19 21:25:08                       12.0     2018-02-12 11:48:27                       12.0     2017-12-09 10:33:38                       12.0     2017-10-20 12:29:34                       12.0     2017-10-02 21:50:02                       12.0     2017-09-20 02:26:47                       12.0          14         37996.0
3           12707.28  2018-03-09 21:31:56  129722388          6            NaN               2018/03                    0.0               2018/04                    0.0               2018/05                    0.0               2018/06                    0.0               2018/07                  -16.0               2018/08                  -47.0               0               0         0.00            0.00     2018-05-16 13:23:54                         12     2018-03-09 21:31:56                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           2         14504.0
4            4988.57  2017-05-23 10:04:08  129722481         36            NaN               2018/03                   -2.0               2018/04                  -30.0               2018/05                   -3.0               2018/06                   -2.0               2018/07                   -6.0               2018/08                   -6.0               0               0         0.00            0.00     2018-06-21 17:53:27                         12     2018-04-19 23:11:03                       12.0     2018-01-03 10:24:53                       12.0     2017-09-01 16:06:07                       12.0     2017-07-26 10:34:55                       12.0     2017-05-23 10:04:08                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           6          8690.0
...              ...                  ...        ...        ...            ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...             ...             ...          ...             ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...         ...             ...
40622       30101.54  2015-07-31 16:31:40  133864629         42            NaN               2018/04                   -5.0               2018/05                    0.0               2018/06                   -1.0               2018/07                    2.0               2018/08                    2.0               2018/09                    0.0               3               0     14495.97        13676.84     2018-07-22 13:54:19                          4     2018-06-24 06:55:51                       12.0     2018-06-18 14:14:29                       12.0     2018-06-16 07:47:06                        4.0     2018-05-27 07:45:33                        4.0     2018-05-21 07:37:47                        4.0     2018-04-08 10:36:38                        4.0     2018-03-20 18:43:36                       12.0     2018-03-07 19:34:50                       12.0     2015-09-01 13:31:45                       12.0          11         37660.0
40623       20047.26  2016-07-05 10:25:36  133864653         47            NaN               2018/04                   -6.0               2018/05                  -30.0               2018/06                   -6.0               2018/07                   -2.0               2018/08                    1.0               2018/09                  -25.0               3               0         0.00            0.00     2018-10-20 19:17:13                         12     2018-08-21 12:51:54                       12.0     2018-05-19 09:31:51                       12.0     2018-04-29 08:47:23                       12.0     2017-12-08 15:50:30                       12.0     2017-12-06 08:16:44                       12.0     2017-05-22 22:53:32                       12.0     2017-02-13 11:36:53                       12.0     2016-11-06 16:14:14                       12.0     2016-07-05 10:25:36                       12.0          10         50792.0
40624       28704.19  2017-01-21 11:05:45  133864688         42            NaN               2018/04                   -1.0               2018/05                   -1.0               2018/06                    1.0               2018/07                    0.0               2018/08                    0.0               2018/09                    0.0               2               0     23292.75        21589.53     2018-09-02 16:16:13                          4     2018-07-01 18:19:00                        4.0     2018-06-15 16:41:51                        4.0     2017-11-01 16:02:21                       12.0     2017-10-11 15:41:13                       12.0     2017-08-01 14:45:48                       12.0     2017-06-02 10:40:35                       12.0     2017-01-21 11:05:45                       12.0                     NaN                        NaN                     NaN                        NaN           8         59573.0
40625        2506.86  2018-09-25 19:35:16  133864690          2            NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN               0               0       544.59          500.00     2018-10-17 16:45:33                          4     2018-10-15 17:55:20                       12.0     2018-09-25 19:35:16                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           3          3800.0
40626        9430.85  2018-01-25 15:06:26  133864693         11            NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN               0               0      1872.33         1791.12     2018-06-25 14:01:18                         12     2018-01-25 15:06:26                        4.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN           2         10699.0

[40627 rows x 43 columns]

In [85]:
import datetime

df = pd.read_csv("..\\UISimulation\\UISimCompensateAheadMain.csv")
display(df)

df["delta"] = df["previous_listing_0_date"].astype('datetime64[ns]') - df["previous_listing_1_date"].astype('datetime64[ns]')

#  & (df["owingAmount"] == 0)
df[(df["previous_listing_0_status"] == 12) & (df["previous_listing_1_status"] == 12) & (df["delta"] < datetime.timedelta(20))]

     Age  Amount  AmountToReceive             AuditingTime     BorrowName  CancelCount  CertificateValidate CreditCode  CreditValidate  CurrentRate DeadLineTimeOrRemindTimeStr EducationDegree  FailedCount   FirstSuccessBorrowTime              FistBidTime  Gender GraduateSchool  HighestDebt  HighestPrincipal              LastBidTime    LastSuccessBorrowTime  LenderCount  ListingId  Months  NciicIdentityCheck  NormalCount  OverdueLessCount  OverdueMoreCount  OwingAmount  OwingPrincipal  PhoneValidate             RegisterTime  RemainFunding StudyStyle  SuccessCount  TotalPrincipal  WasteCount  debtAmountMax     firstSuccessDate    listingId  normalNum overdueDayMap_0_month  overdueDayMap_0_value overdueDayMap_1_month  overdueDayMap_1_value overdueDayMap_2_month  overdueDayMap_2_value overdueDayMap_3_month  overdueDayMap_3_value overdueDayMap_4_month  overdueDayMap_4_value overdueDayMap_5_month  overdueDayMap_5_value  overdueLessNum  overdueMoreNum  owingAmount  owingPrincipal previous_listing_0_date  previous_listing_0_status previous_listing_1_date  previous_listing_1_status previous_listing_2_date  previous_listing_2_status previous_listing_3_date  previous_listing_3_status previous_listing_4_date  previous_listing_4_status previous_listing_5_date  previous_listing_5_status  successNum  totalPrincipal  overdueDayMap previous_listing_6_date  previous_listing_6_status previous_listing_7_date  previous_listing_7_status previous_listing_8_date  previous_listing_8_status previous_listing_9_date  previous_listing_9_status
0     32  4821.0                0  2018-10-30T15:57:17.207    pdu23720812            0                    0         AA               0          9.5                  2018/10/30             NaN            0  2016-12-28T17:49:02.763  2018-10-30T15:57:08.000       1            NaN     10076.87            7858.0  2018-10-30T15:57:16.000  2018-08-12T13:50:19.000           21  133970495       6                   0           29                 9                 0      3628.64         3378.52              1  2015-09-07T18:51:18.000            0.0        NaN             6         20304.0           2       10076.87  2016-12-28 17:49:02  133970495.0       29.0               2018/04                    0.0               2018/05                   -1.0               2018/06                    1.0               2018/07                    1.0               2018/08                    0.0               2018/09                    2.0             9.0             0.0      3628.64         3378.52     2018-08-12 13:50:19                        4.0     2018-06-18 17:18:55                        4.0     2018-05-08 23:18:15                        4.0     2018-01-04 10:52:14                       12.0     2017-08-05 23:23:31                       12.0     2016-12-28 17:49:02                       12.0         6.0         20304.0            NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN
1     23  8000.0                0  2018-10-30T16:01:40.777  pdu8077920091            0                    0         AA               0          9.5                  2018/10/30             NaN            0                      NaN  2018-10-30T16:01:17.000       1            NaN         0.00               0.0  2018-10-30T16:01:40.000                      NaN           39  133970701       6                   0            0                 0                 0         0.00            0.00              1  2018-10-30T15:35:32.000            0.0        NaN             0             0.0           0            NaN                  NaN          NaN        NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN             NaN             NaN          NaN             NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN         NaN             NaN            NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN
2     36  1026.0                0  2018-10-30T16:01:10.547  pdu4784425484            0                    0         AA               0          9.5                  2018/10/30             NaN            0  2016-12-25T21:52:50.117  2018-10-30T16:01:09.000       1            NaN     11626.29            9160.0  2018-10-30T16:01:10.000  2018-10-07T12:25:19.000            3  133971077       6                   0           12                 0                 0     11622.75         9973.46              1  2016-12-24T00:40:02.000            0.0        NaN             3         25000.0           3       11626.29  2016-12-25 21:52:50  133971077.0       12.0               2018/04                    0.0               2018/05                  -10.0               2018/06                  -41.0               2018/07                   -6.0               2018/08                   -1.0               2018/09                   -6.0             0.0             0.0     11622.75         9973.46     2018-10-07 12:25:19                        4.0     2018-04-12 23:11:36                        4.0     2016-12-25 21:52:50                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN         3.0         25000.0            NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN
3     29  2393.0                0  2000-01-01T00:00:00.000  pdu5455263003            0                    0         AA               0          9.5                   19天23时58分             NaN            0  2018-06-27T12:40:32.000                      NaN       1            NaN     17251.56           12800.0                      NaN  2018-09-26T13:20:57.000            0  133973599       6                   0            5                 0                 0     13384.84        10406.58              1  2017-10-19T12:07:56.000         2393.0        NaN             2         14841.0           1       17251.56  2018-06-27 12:40:32  133973599.0        5.0                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN             0.0             0.0     13384.84        10406.58     2018-09-26 13:20:57                        4.0     2018-06-27 12:40:32                        4.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN         2.0         14841.0            NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN
4     35  2400.0                0  2000-01-01T00:00:00.000    pdu05253565            0                    0         AA               0          9.5                   19天23时51分             NaN            0                      NaN                      NaN       2            NaN         0.00               0.0                      NaN                      NaN            0  133972697       6                   0            0                 0                 0         0.00            0.00              1  2015-03-10T13:10:17.000         2400.0        NaN             0             0.0           2            NaN                  NaN          NaN        NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN             NaN             NaN          NaN             NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN         NaN             NaN            NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN
..   ...     ...              ...                      ...            ...          ...                  ...        ...             ...          ...                         ...             ...          ...                      ...                      ...     ...            ...          ...               ...                      ...                      ...          ...        ...     ...                 ...          ...               ...               ...          ...             ...            ...                      ...            ...        ...           ...             ...         ...            ...                  ...          ...        ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...                   ...                    ...             ...             ...          ...             ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...         ...             ...            ...                     ...                        ...                     ...                        ...                     ...                        ...                     ...                        ...
326   30  3009.0                0  2000-01-01T00:00:00.000  pdu0008766706            0                    1         AA               0          9.5                   14天23时54分              专科            0  2016-05-08T00:14:30.597  2018-10-30T17:04:21.000       1       江苏广播电视大学     21833.07            8009.0  2018-10-30T17:04:28.000  2018-09-30T08:39:54.000           10  133978817       6                   0           79                 0                 0     18225.70        15790.45              1  2016-05-08T00:04:32.000         1549.0         普通            11         63798.0           0       21833.07  2016-05-08 00:14:30  133978817.0       79.0               2018/04                   -1.0               2018/05                   -1.0               2018/06                   -2.0               2018/07                    0.0               2018/08                    0.0               2018/09                    0.0             0.0             0.0     18225.70        15790.45     2018-09-30 08:39:54                        4.0     2018-08-18 09:50:07                        4.0     2018-06-20 16:05:19                        4.0     2018-03-30 14:39:34                        4.0     2018-02-18 09:28:11                       12.0     2017-12-31 07:34:45                        4.0        11.0         63798.0            NaN     2017-10-31 14:58:16                       12.0     2017-06-26 22:30:26                       12.0     2017-03-12 15:24:40                       12.0     2017-01-20 11:09:22                       12.0
327   23  3174.0                0  2000-01-01T00:00:00.000  pdu0365873757            1                    0         AA               0          9.5                   14天23时52分             NaN            0  2017-07-11T09:40:02.000  2018-10-30T17:04:21.000       1            NaN     14179.67            5791.0  2018-10-30T17:04:23.000  2018-09-30T22:25:26.000            2  133978618       6                   0           84                 0                 0     10244.13         9725.13              1  2017-07-09T10:13:16.000         3024.0        NaN            16         37437.0           0       14179.67  2017-07-11 09:40:02  133978618.0       84.0               2018/04                    0.0               2018/05                  -10.0               2018/06                    0.0               2018/07                   -7.0               2018/08                    0.0               2018/09                    0.0             0.0             0.0     10244.13         9725.13     2018-09-30 22:25:26                        4.0     2018-08-30 08:38:50                        4.0     2018-08-28 10:27:53                        4.0     2018-07-28 07:35:58                        4.0     2018-06-30 23:54:31                        4.0     2018-05-30 20:40:33                        4.0        16.0         37437.0            NaN     2018-04-14 00:29:54                       12.0     2018-03-30 18:27:44                       12.0     2018-03-11 10:46:59                       12.0     2018-02-07 08:57:40                       12.0
328   26  6797.0                0  2000-01-01T00:00:00.000  pdu1244242348            0                    0         AA               0          9.5                   19天23时53分             NaN            0  2018-02-06T12:14:14.000  2018-10-30T17:04:20.000       2            NaN      6178.56            4000.0  2018-10-30T17:04:22.000  2018-05-26T09:38:36.000            3  133978703       6                   0           10                 1                 0       640.25          602.31              1  2018-02-01T18:26:32.000         6297.0        NaN             2          7533.0           0        6178.56  2018-02-06 12:14:14  133978703.0       10.0               2018/04                   -2.0               2018/05                    0.0               2018/06                    0.0               2018/07                    0.0               2018/08                    0.0               2018/09                    0.0             1.0             0.0       640.25          602.31     2018-05-26 09:38:36                        4.0     2018-02-06 12:14:14                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN         2.0          7533.0            NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN
329   32  5066.0                0  2000-01-01T00:00:00.000  pdu6327874455            0                    0         AA               0          9.5                   19天23时54分             NaN            0  2018-06-12T09:20:26.000  2018-10-30T17:04:19.000       1            NaN      8849.70            7500.0  2018-10-30T17:04:29.000  2018-06-12T09:20:26.000            7  133978806       6                   0            4                 0                 0      2949.90         2533.26              1  2018-06-09T07:10:15.000         3871.0        NaN             1          7500.0           1            NaN                  NaN          NaN        NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN             NaN             NaN          NaN             NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN         NaN             NaN            NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN
330   22  2700.0                0  2000-01-01T00:00:00.000  pdu0878085844            0                    0         AA               0          9.5                   14天23时52分             NaN            0  2017-06-09T10:18:59.000  2018-10-30T17:04:20.000       1            NaN      1754.12            1500.0  2018-10-30T17:04:25.000  2017-06-09T10:18:59.000            4  133978628       6                   0            1                 5                 0         0.00            0.00              1  2017-05-18T22:57:20.000         1900.0        NaN             1          1500.0           4            NaN                  NaN          NaN        NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN             NaN             NaN          NaN             NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN         NaN             NaN            NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN

[331 rows x 80 columns]

     Age   Amount  AmountToReceive             AuditingTime     BorrowName  CancelCount  CertificateValidate CreditCode  CreditValidate  CurrentRate DeadLineTimeOrRemindTimeStr EducationDegree  FailedCount   FirstSuccessBorrowTime              FistBidTime  Gender GraduateSchool  HighestDebt  HighestPrincipal              LastBidTime    LastSuccessBorrowTime  LenderCount  ListingId  Months  NciicIdentityCheck  NormalCount  OverdueLessCount  OverdueMoreCount  OwingAmount  OwingPrincipal  PhoneValidate             RegisterTime  RemainFunding StudyStyle  SuccessCount  TotalPrincipal  WasteCount  debtAmountMax     firstSuccessDate    listingId  normalNum overdueDayMap_0_month  overdueDayMap_0_value overdueDayMap_1_month  overdueDayMap_1_value overdueDayMap_2_month  overdueDayMap_2_value overdueDayMap_3_month  overdueDayMap_3_value overdueDayMap_4_month  overdueDayMap_4_value overdueDayMap_5_month  overdueDayMap_5_value  overdueLessNum  overdueMoreNum  owingAmount  owingPrincipal previous_listing_0_date  previous_listing_0_status previous_listing_1_date  previous_listing_1_status previous_listing_2_date  previous_listing_2_status previous_listing_3_date  previous_listing_3_status previous_listing_4_date  previous_listing_4_status previous_listing_5_date  previous_listing_5_status  successNum  totalPrincipal  overdueDayMap previous_listing_6_date  previous_listing_6_status previous_listing_7_date  previous_listing_7_status previous_listing_8_date  previous_listing_8_status previous_listing_9_date  previous_listing_9_status            delta
121   44   4000.0                0  2018-10-30T16:19:21.023  pdu5276326548            0                    0         AA               0          9.5                  2018/10/30             NaN            0  2016-06-19T11:22:59.323  2018-10-30T16:19:10.000       2            NaN      9253.80            5900.0  2018-10-30T16:19:20.000  2018-07-08T17:22:34.000           13  133973517       6                   0           21                 4                 0          0.0             0.0              1  2016-06-15T21:18:25.000            0.0        NaN             7         21803.0           1        9253.80  2016-06-19 11:22:59  133973517.0       21.0               2018/04                    0.0               2018/05                    0.0               2018/06                    0.0               2018/07                    0.0               2018/08                  -21.0               2018/09                  -52.0             4.0             0.0          0.0             0.0     2018-07-08 17:22:34                       12.0     2018-06-26 23:42:11                       12.0     2018-05-19 20:00:30                       12.0     2018-04-08 12:24:00                       12.0     2018-03-07 11:44:16                       12.0     2018-01-02 11:47:04                       12.0         7.0         21803.0            NaN     2016-06-19 11:22:59                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN 11 days 17:40:23
204   25   3000.0                0  2000-01-01T00:00:00.000  pdu5850747806            0                    0         AA               0          9.5                   19天23时53分             NaN            0  2017-05-18T19:36:56.000  2018-10-30T16:45:11.000       1            NaN      5577.86            2400.0  2018-10-30T16:45:14.000  2018-01-04T17:42:54.000            5  133976397       6                   0           23                 0                 0          0.0             0.0              1  2017-02-02T15:09:25.000         2090.0        NaN             4          7400.0           0        5577.86  2017-05-18 19:36:56  133976397.0       23.0               2018/04                  -23.0               2018/05                  -39.0               2018/06                  -70.0               2018/07                 -100.0               2018/08                    0.0               2018/09                    0.0             0.0             0.0          0.0             0.0     2018-01-04 17:42:54                       12.0     2017-12-25 07:40:38                       12.0     2017-10-30 16:03:41                       12.0     2017-05-18 19:36:56                       12.0                     NaN                        NaN                     NaN                        NaN         4.0          7400.0            NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN 10 days 10:02:16
216   47  20400.0                0  2018-10-30T16:30:05.283  pdu2655748655            0                    0         AA               0          9.5                  2018/10/30             NaN            0  2016-08-19T11:38:58.027  2018-10-30T16:29:04.000       1            NaN     22713.78           10944.0  2018-10-30T16:30:04.000  2018-10-30T16:22:14.000          105  133974232       6                   0           51                 8                 0          0.0             0.0              1  2016-08-19T08:59:09.000            0.0        NaN            10         79945.0           4       22713.78  2016-08-19 11:38:58  133974232.0       51.0               2018/04                    3.0               2018/05                    0.0               2018/06                    4.0               2018/07                    0.0               2018/08                    0.0               2018/09                    2.0             8.0             0.0          0.0             0.0     2018-03-20 12:04:50                       12.0     2018-03-07 08:50:52                       12.0     2018-02-14 09:48:08                       12.0     2017-11-29 12:04:40                       12.0     2017-10-24 14:25:29                       12.0     2017-08-26 12:07:06                       12.0         9.0         59545.0            NaN     2017-05-24 18:51:33                       12.0     2017-03-20 14:44:15                       12.0     2016-08-19 11:38:58                       12.0                     NaN                        NaN 13 days 03:13:58
231   26   7000.0                0  2000-01-01T00:00:00.000  pdu2443850128            2                    1         AA               0          9.5                   14天13时27分              专科            0  2016-10-20T21:52:50.057                      NaN       1   安徽工业经济职业技术学院     10905.46            8500.0                      NaN  2017-05-23T15:58:04.000            0  133278577       6                   0           45                10                 0          0.0             0.0              1  2016-10-16T00:20:59.000         7000.0         普通            12         22171.0          15       10905.46  2016-10-20 21:52:50  133278577.0       45.0                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN            10.0             0.0          0.0             0.0     2017-05-23 15:58:04                       12.0     2017-05-22 18:57:12                       12.0     2017-05-13 05:42:08                       12.0     2017-04-20 18:01:15                       12.0     2017-04-12 07:23:38                       12.0     2017-03-30 20:19:43                       12.0        12.0         22171.0            NaN     2017-02-28 15:50:36                       12.0     2017-02-26 21:45:58                       12.0     2016-12-30 11:51:55                       12.0     2016-11-15 11:59:11                       12.0  0 days 21:00:52

In [83]:

df[]

     Age  Amount  AmountToReceive             AuditingTime     BorrowName  CancelCount  CertificateValidate CreditCode  CreditValidate  CurrentRate DeadLineTimeOrRemindTimeStr EducationDegree  FailedCount   FirstSuccessBorrowTime              FistBidTime  Gender GraduateSchool  HighestDebt  HighestPrincipal              LastBidTime    LastSuccessBorrowTime  LenderCount  ListingId  Months  NciicIdentityCheck  NormalCount  OverdueLessCount  OverdueMoreCount  OwingAmount  OwingPrincipal  PhoneValidate             RegisterTime  RemainFunding StudyStyle  SuccessCount  TotalPrincipal  WasteCount  debtAmountMax     firstSuccessDate    listingId  normalNum overdueDayMap_0_month  overdueDayMap_0_value overdueDayMap_1_month  overdueDayMap_1_value overdueDayMap_2_month  overdueDayMap_2_value overdueDayMap_3_month  overdueDayMap_3_value overdueDayMap_4_month  overdueDayMap_4_value overdueDayMap_5_month  overdueDayMap_5_value  overdueLessNum  overdueMoreNum  owingAmount  owingPrincipal previous_listing_0_date  previous_listing_0_status previous_listing_1_date  previous_listing_1_status previous_listing_2_date  previous_listing_2_status previous_listing_3_date  previous_listing_3_status previous_listing_4_date  previous_listing_4_status previous_listing_5_date  previous_listing_5_status  successNum  totalPrincipal  overdueDayMap previous_listing_6_date  previous_listing_6_status previous_listing_7_date  previous_listing_7_status previous_listing_8_date  previous_listing_8_status previous_listing_9_date  previous_listing_9_status           delta
27    28  1000.0                0  2000-01-01T00:00:00.000  pdu3462041857            0                    1         AA               0          9.5                   14天23时55分              本科            0  2016-04-25T09:23:10.663  2018-10-30T16:23:11.000       1     广西大学行健文理学院      4211.73            5000.0  2018-10-30T16:23:13.000  2018-09-19T15:10:30.000            2  133973807       6                   0           31                 6                 1      2768.90         2536.22              1  2016-04-25T09:12:14.000          750.0         普通             7         11500.0           2        4211.73  2016-04-25 09:23:10  133973807.0       31.0               2018/04                    0.0               2018/05                  -11.0               2018/06                   -1.0               2018/07                    0.0               2018/08                    0.0               2018/09                    0.0             6.0             1.0      2768.90         2536.22     2018-09-19 15:10:30                        4.0     2018-09-11 16:19:50                        4.0     2018-04-17 11:19:11                       12.0     2018-04-15 16:22:45                       12.0     2018-04-12 15:33:44                       12.0     2018-04-05 22:34:16                       12.0         7.0         11500.0            NaN     2016-04-25 09:23:10                       12.0                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN 7 days 22:50:40
43    35   731.0                0  2000-01-01T00:00:00.000  pdu3864375441            0                    0         AA               0          9.5                   14天23时53分             NaN            0  2017-09-25T22:36:06.000                      NaN       1            NaN      7046.19            5349.0                      NaN  2018-10-02T01:20:39.000            0  133974228       6                   0           48                 4                 0      6249.48         5349.00              1  2016-09-11T10:04:05.000          731.0        NaN            13         31399.0           2        7046.19  2017-09-25 22:36:06  133974228.0       48.0               2018/04                    0.0               2018/05                    0.0               2018/06                    0.0               2018/07                    0.0               2018/08                    0.0               2018/09                    1.0             4.0             0.0      6249.48         5349.00     2018-10-02 01:20:39                        4.0     2018-09-30 00:28:52                       12.0     2018-09-18 08:31:42                       12.0     2018-08-19 12:43:39                       12.0     2018-07-14 19:02:14                       12.0     2018-06-17 12:30:28                       12.0        13.0         31399.0            NaN     2018-04-16 08:42:54                       12.0     2018-04-15 09:39:05                       12.0     2018-04-01 15:03:30                       12.0     2018-03-13 13:00:58                       12.0 2 days 00:51:47
54    22   642.0                0  2000-01-01T00:00:00.000  pdu1348372186            0                    0         AA               0          9.5                   19天23时55分             NaN            0  2016-10-16T08:44:14.100  2018-10-30T16:29:04.000       1            NaN      4971.67            3250.0  2018-10-30T16:29:05.000  2018-10-15T16:13:41.000            2  133974503       6                   0           48                 0                 0      4336.46         3807.35              1  2016-10-15T19:27:15.000          534.0        NaN            14         20008.0           0        4971.67  2016-10-16 08:44:14  133974503.0       48.0                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN             0.0             0.0      4336.46         3807.35     2018-10-15 16:13:41                        4.0     2018-10-11 14:11:16                        4.0     2018-10-10 18:37:21                        4.0     2018-09-14 14:26:00                        4.0     2018-08-11 19:54:54                        4.0     2018-06-02 15:15:46                       12.0        14.0         20008.0            NaN     2018-05-10 09:19:24                       12.0     2017-12-25 14:17:35                       12.0     2017-12-09 16:42:31                       12.0     2017-06-11 23:44:13                       12.0 4 days 02:02:25
88    21   700.0                0  2018-10-30T16:13:20.387  pdu2280802631            1                    0         AA               0          9.5                  2018/10/30             NaN            0  2017-04-26T15:35:08.000  2018-10-30T16:13:18.000       2            NaN      9161.72            2100.0  2018-10-30T16:13:19.000  2018-06-05T21:10:21.000            3  133972277       6                   0          168                 0                 0      2645.05         2291.69              1  2017-04-25T09:53:27.000            0.0        NaN            24         23900.0           1        9161.72  2017-04-26 15:35:08  133972277.0      168.0               2018/04                  -15.0               2018/05                  -19.0               2018/06                  -25.0               2018/07                   -7.0               2018/08                   -6.0               2018/09                  -18.0             0.0             0.0      2645.05         2291.69     2018-06-05 21:10:21                        4.0     2018-06-03 21:21:14                        4.0     2018-04-30 08:30:40                       12.0     2018-03-30 10:30:21                        4.0     2018-03-26 09:05:43                        4.0     2018-03-23 19:39:11                       12.0        24.0         23900.0            NaN     2018-03-22 22:41:48                        4.0     2018-03-20 22:06:25                        4.0     2018-03-14 10:57:12                       12.0     2018-03-10 07:19:01                       12.0 1 days 23:49:07
102   43  4296.0                0  2018-10-30T16:16:20.977  pdu6551822686            0                    0         AA               0          9.5                  2018/10/30             NaN            0  2017-06-18T13:33:43.000  2018-10-30T16:16:08.000       2            NaN     16762.34            5298.0  2018-10-30T16:16:20.000  2018-09-27T12:36:15.000           20  133973312       6                   0          113                 0                 0     11755.87        10663.77              1  2016-03-11T11:50:15.000            0.0        NaN            25         59117.0           2       16762.34  2017-06-18 13:33:43  133973312.0      113.0               2018/04                   -1.0               2018/05                   -1.0               2018/06                   -1.0               2018/07                   -1.0               2018/08                   -1.0               2018/09                   -1.0             0.0             0.0     11755.87        10663.77     2018-09-27 12:36:15                        4.0     2018-09-20 12:01:07                        4.0     2018-09-17 17:31:15                        4.0     2018-09-04 18:16:05                        4.0     2018-08-19 08:54:57                        4.0     2018-07-27 09:11:06                        4.0        25.0         59117.0            NaN     2018-07-19 18:29:21                       12.0     2018-07-05 10:59:01                        4.0     2018-05-28 13:40:50                       12.0     2018-05-22 11:19:36                       12.0 7 days 00:35:08
112   29  2500.0                0  2000-01-01T00:00:00.000  pdu5479549650            1                    1         AA               0          9.5                   14天12时11分              本科            0  2018-04-17T21:22:36.000  2018-10-30T16:34:10.000       1         四川农业大学     17113.57            5000.0  2018-10-30T16:34:14.000  2018-04-28T22:04:07.000            7  133277277       6                   0           24                 0                 0      8220.90         6841.18              1  2018-04-15T18:49:08.000          780.0         普通             4         13318.0           1       17113.57  2018-04-17 21:22:36  133277277.0       24.0               2018/04                    0.0               2018/05                   -1.0               2018/06                    0.0               2018/07                    0.0               2018/08                   -1.0               2018/09                    0.0             0.0             0.0      8220.90         6841.18     2018-04-28 22:04:07                        4.0     2018-04-28 12:37:27                        4.0     2018-04-21 03:28:30                        4.0     2018-04-17 21:22:36                        4.0                     NaN                        NaN                     NaN                        NaN         4.0         13318.0            NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN 0 days 09:26:40
122   19  1502.0                0  2018-10-30T16:19:14.370  pdu8841682627            1                    0         AA               0          9.5                  2018/10/30             NaN            0  2018-02-07T19:56:32.000  2018-10-30T16:19:08.000       2            NaN      5429.63            3000.0  2018-10-30T16:19:13.000  2018-08-24T22:13:41.000            4  133973654       6                   0           36                 1                 0      3341.79         2867.67              1  2018-02-07T19:37:13.000            0.0        NaN             9         10544.0           1        5429.63  2018-02-07 19:56:32  133973654.0       36.0               2018/04                   -1.0               2018/05                   -3.0               2018/06                    0.0               2018/07                  -15.0               2018/08                   -5.0               2018/09                    0.0             1.0             0.0      3341.79         2867.67     2018-08-24 22:13:41                        4.0     2018-08-24 22:06:50                        4.0     2018-07-29 07:55:40                       12.0     2018-07-04 13:19:58                       12.0     2018-06-23 17:45:47                       12.0     2018-05-18 11:50:49                        4.0         9.0         10544.0            NaN     2018-05-07 09:36:02                        4.0     2018-04-07 06:54:26                       12.0     2018-02-07 19:56:32                        4.0                     NaN                        NaN 0 days 00:06:51
231   26  7000.0                0  2000-01-01T00:00:00.000  pdu2443850128            2                    1         AA               0          9.5                   14天13时27分              专科            0  2016-10-20T21:52:50.057                      NaN       1   安徽工业经济职业技术学院     10905.46            8500.0                      NaN  2017-05-23T15:58:04.000            0  133278577       6                   0           45                10                 0         0.00            0.00              1  2016-10-16T00:20:59.000         7000.0         普通            12         22171.0          15       10905.46  2016-10-20 21:52:50  133278577.0       45.0                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN                   NaN                    NaN            10.0             0.0         0.00            0.00     2017-05-23 15:58:04                       12.0     2017-05-22 18:57:12                       12.0     2017-05-13 05:42:08                       12.0     2017-04-20 18:01:15                       12.0     2017-04-12 07:23:38                       12.0     2017-03-30 20:19:43                       12.0        12.0         22171.0            NaN     2017-02-28 15:50:36                       12.0     2017-02-26 21:45:58                       12.0     2016-12-30 11:51:55                       12.0     2016-11-15 11:59:11                       12.0 0 days 21:00:52
245   24  8000.0                0  2000-01-01T00:00:00.000  pdu5177682444            0                    1         AA               1          9.5                   14天13时38分              专科            0  2017-02-22T01:29:53.983                      NaN       1    天津市工会管理干部学院     17527.73            8000.0                      NaN  2018-06-05T15:52:08.000            0  133278914       6                   0          146                 0                 0      6944.12         5989.04              1  2017-02-22T01:13:54.000         8000.0         普通            19         47061.0           4       17527.73  2017-02-22 01:29:53  133278914.0      146.0               2018/04                   -1.0               2018/05                    0.0               2018/06                    0.0               2018/07                    0.0               2018/08                  -10.0               2018/09                    0.0             0.0             0.0      6944.12         5989.04     2018-06-05 15:52:08                        4.0     2018-06-04 10:32:54                        4.0     2018-05-08 07:09:41                        4.0     2018-04-25 20:19:42                        4.0     2018-04-05 11:11:44                        4.0     2018-03-17 00:07:25                        4.0        19.0         47061.0            NaN     2018-01-23 16:14:41                       12.0     2018-01-08 13:20:58                       12.0     2017-12-25 00:17:47                       12.0     2017-12-04 15:54:15                       12.0 1 days 05:19:14
255   27  4248.0                0  2000-01-01T00:00:00.000  pdu0130047336            1                    0         AA               0          9.5                   19天23时56分             NaN            0  2017-07-31T11:09:21.000  2018-10-30T16:52:11.000       2            NaN      3718.80            3000.0  2018-10-30T16:52:12.000  2018-08-25T16:59:33.000            2  133977540       6                   0           17                12                 0      1132.42         1011.89              1  2017-05-16T07:07:51.000         3648.0        NaN             5          6206.0           7        3718.80  2017-07-31 11:09:21  133977540.0       17.0               2018/04                    2.0               2018/05                    0.0               2018/06                    1.0               2018/07                    1.0               2018/08                    0.0               2018/09                    0.0            12.0             0.0      1132.42         1011.89     2018-08-25 16:59:33                        4.0     2018-08-24 17:57:55                        4.0     2018-06-17 10:28:59                        4.0     2018-01-19 11:34:15                       12.0     2017-07-31 11:09:21                       12.0                     NaN                        NaN         5.0          6206.0            NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN                     NaN                        NaN 0 days 23:01:38

In [37]:
t1 = dateutil.parser.parse(t)

In [38]:
now = datetime.datetime.now()

In [43]:
(now - t1).days

150

In [42]:
datetime.timedelta.days